repository                    = "daylight55/terraform-cicd-example"
account_id                    = "12345678901"
aws_terraform_plan_role_name  = "gha-plan"
aws_terraform_apply_role_name = "gha-apply"
